<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>

  <appSettings>
    <add key="CameraId" value="53250"/>
    <add key="DestAddress" value="172.16.0.69"/>
    <add key="DestPort" value="9898"/>
  </appSettings>
</configuration>
